rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Apenas GMs podem fazer upload de imagens para a wiki.
    match /wiki-images/{imageId} {
      allow read: if request.auth != null;
      allow write: if request.auth.token.role == 'gm';
    }

    // Usuários podem fazer upload de imagens para seus próprios personagens.
    match /character-images/{userId}/{imageId} {
      allow read: if request.auth != null;
      allow write: if request.auth.uid == userId;
    }
  }
}
