@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Roboto:wght@400;500&display=swap');

:root {
  --background-color: #0a0a1a;
  --text-color: #e0e0e0;
  --primary-color: #d4af37; /* Dourado */
  --secondary-color: #2c2c3e;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevenir rolagem horizontal */
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1, h2, h3 {
  font-family: 'Cinzel', serif;
  color: var(--primary-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Custom Scrollbar */
/* For Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

/* For Chrome, Safari and Opera */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
